.banner {
    height: 22em;
    width: 100%;
    background-image: url("../../images/background.png");
    background-position: center;
    background-size: cover;
    color: rgb(243, 241, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-text {
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vw;
}

.banner h1,
p {
    text-shadow: 2em 2em 8em black;
    filter: contrast(200%);
}

.banner p {
    font-size: 20px;
}

.banner-button {
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner a {
    text-decoration: none;
    padding: 1em 2em;
    background: linear-gradient(0.25turn, rgb(49, 59, 202), rgb(37, 168, 70));
    color: rgb(243, 241, 207);
    font-weight: bolder;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: center;
}

@media (max-width: 1156px) {
    .banner {
        height: 35em;
    }
    .banner h1 {
        font-size: 3vw;
    }
    .banner p {
        font-size: 2vw;
    }
    .banner-text {
        padding-bottom: 2vw;
    }
}