footer {
    position: sticky;
    margin-top: 2em;
    height: 10vw;
    background-color: darkolivegreen;
    text-align: center;
    color: rgb(197, 195, 188);
    font-size: 1.2em;
}

footer ul {
    list-style: none;
    display: inline-flex;
}

footer img {
    width: 3vw;
    margin: 0 1em;
}

footer img:hover {
    transform: rotate(180deg);
    transition: 2s ease-out;
}

@media (max-width: 960px) {
    footer img {
        width: 8vw
    }
    footer {
        height: 10em;
    }
}